body, html {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #CFD8DC;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #424242;
}

#loading:hover {
	cursor: wait;
}

#game {
	width: 100%;
	height: 100%;
}

#interface {
	width: 100%;
	height: 80px;
}

#playstop {
	width: 20%;
	height: 100%;
	float: right;
}

#play-button, #stop-button  {
	position: absolute;
	height: auto;
	width: 2.5vw;
	vertical-align: middle;
	top: calc((80px - 2.5vw)/2);
	right: 2%;
	
}

#play-button:hover, #stop-button:hover {
	cursor: pointer;
}

.transparent {
	opacity: 0;
}

.interface-section {
	background-color: #424242;
	display: inline-block;
}

#time {
	width: 20%;
	height: 100%;
	float: left;
	display: inline-block;
}

#game_info {
	width: 60%;
	height: 100%;
	float: left;
	display: inline-block;
	text-align: center;
}


#logo {
	height: auto;
	width: 15%;
	vertical-align: middle;
	margin-left: 10%;
}

#logo:hover {
	cursor: pointer;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#player-white, #player-black {
	height: 50px;
	width: 10%;
	margin: 15px 5% 15px 5%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
}

#player-black {
	background-color: #388E3C;
}

#player-white-score, #player-black-score {
	display: inline;
	font-size: 2vw;
	vertical-align: middle;
	text-align: center;
}

#turn-time {
	height: 100%;
	width: 25%;
	margin: 0 10% 0 10%;
	display: inline;
	vertical-align: middle;
}

#white-piece, #black-piece {
	height: auto;
	width: 20%;
	vertical-align: middle;
	margin: 0 5% 0 5%;
}

.modal {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: #388E3C;
	font-size: 4vw;
	margin-top: 100px;
	margin-bottom: 4%;
}

button {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 1.25vw;
	margin: 0.5%;
	border-radius: 5px;
	background-color: #388E3C;
	width: 20%;
	height: 3vw;
	outline: none;
	border: none;
}

h1:hover {
	cursor: default;
}

button:hover {
	cursor: pointer;
	background-color: #1B5E20;
}

p:hover {
	cursor: default;
}

.spinner {
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #424242;
}

#loading:hover {
	cursor: wait;
}

#loading-spinner {
	height: 5%;
	position: absolute;
	-webkit-animation: spin 0.75s infinite linear;
	-moz-animation: spin 0.75s infinite linear;
	-o-animation: spin 0.75s infinite linear;
	-ms-animation: spin 0.75s infinite linear;
	animation: spin 0.75s infinite linear;
}

#loading-spinner2 {
	position: absolute;
	height: 10%;
	-webkit-animation: spin 1.5s infinite linear;
	-moz-animation: spin 1.5s infinite linear;
	-o-animation: spin 1.5s infinite linear;
	-ms-animation: spin 1.5s infinite linear;
	animation: spin 1.5s infinite linear;
}

#loading-spinner3 {
	position: absolute;
	height: 15%;
	-webkit-animation: spin 2.25s infinite linear;
	-moz-animation: spin 2.25s infinite linear;
	-o-animation: spin 2.25s infinite linear;
	-ms-animation: spin 2.25s infinite linear;
	animation: spin 2.25s infinite linear;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}