body, html {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
	width: 100%;
	height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

p {
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	color: #CFD8DC;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
}

#game {
	width: 100%;
	height: 100%;
}

#interface {
	width: 100%;
	height: 80px;
}

#undo {
	width: 20%;
	height: 100%;
	float: right;
}

.interface-section {
	background-color: #424242;
	display: inline-block;
}

#time {
	width: 20%;
	height: 100%;
	float: left;
	display: inline-block;
}

#game_info {
	width: 60%;
	height: 100%;
	float: left;
	display: inline-block;
	text-align: center;
}


#logo {
	height: auto;
	width: 15%;
	vertical-align: middle;
	margin-left: 10%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#player-white, #player-black {
	height: 50px;
	width: 10%;
	margin: 15px 5% 15px 5%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
}

#player-black {
	background-color: #388E3C;
}

#player-white-score, #player-black-score {
	display: inline;
	font-size: 2vw;
	vertical-align: middle;
	text-align: center;
}

#turn-time {
	height: 100%;
	width: 25%;
	margin: 0 10% 0 10%;
	display: inline;
	vertical-align: middle;
}

#white-piece, #black-piece {
	height: auto;
	width: 20%;
	vertical-align: middle;
	margin: 0 5% 0 5%;
}

.modal {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	text-align: center;
}

h1 {
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	color: #388E3C;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-weight: bold;
	font-size: 4vw;
	margin-top: 100px;
	margin-bottom: 4%;
}

button {
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
	font-size: 1.25vw;
	margin: 0.5%;
	border-radius: 5px;
	background-color: #388E3C;
	width: 20%;
	height: 3vw;
	outline: none;
	border: none;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}